.eac-document {
	background: #fff;
	color: #3c434a;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	margin: 40px auto 25px;
	max-width: 800px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	border: 1px solid #c3c4c7;
	padding: 2rem;
}
